/* Base font and smooth transitions for theme change */
body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Dark mode scrollbar styles */
.dark ::-webkit-scrollbar-track {
    background: #333;
}
.dark ::-webkit-scrollbar-thumb {
    background: #555;
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Utility class to hide scrollbar without affecting content flow */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Custom style for active navigation button */
.active-nav-button {
    background-color: theme('colors.amber.500'); /* Changed to amber */
    color: white;
    box-shadow: theme('boxShadow.lg');
}
.dark .active-nav-button {
    background-color: theme('colors.amber.600'); /* Changed to amber */
    color: white;
}
